.overflow {
  height: 100%;
  background: #191919;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

/* .split-slideshow {
    background:rgba(0,0,0,0);  
    
}
.item:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.4);  
    } */
/* #slideImage {
background: linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5));
} */

.navbar {
  z-index: 100;
  height: 5%;
  font-family: 'Bungee Shade', cursive;
  font-size:150px;
  left: 1%;  
}



ul {
  list-style-type: none;
  padding: 12px;
  overflow: hidden;
  font-size: 11px;
  font-family: 'Anton', sans-serif;
  letter-spacing: 1px;
}

li {
  float: right;
  list-style-type: none;
  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 20px 0px 10px;
  text-decoration: none;
}

/* div.form-group {
    position:absolute;
    z-index:100;
    top:46%; 
    left: 30%;
    right:auto; 
    bottom:auto; 
    width: 40%;
    opacity: 0.4;
} */

html {
  margin: 40px auto;
}

.updateshtml{
  margin: 0px auto;
  background: #191919;
}

.homebtn {
    opacity: 0.7;
    background: #1c1c1c;
	  color: #fff;
	  border-width: 3px;
	  border-style: solid;
    border-color:rgb(59, 147, 248);
    z-index: 1000;
    position: relative;
    top: 415px;
    left: 44.5%;
    letter-spacing: 1.5px;
    font-size: 10px;
    padding:3px;
  }
  

	.btn-search:active, .btn-search:hover {
	  background: #1c1c1c;
	  color: #fff;
	}

.slideshow {
  position:absolute;
  z-index: 1;
  top: 2.5%;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.slideshow .slider {
  width: 100vw;
  height: 100vw;
  z-index: 2;
}
.slideshow .slider * {
  outline: none;
}
.slideshow .slider .item {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  border: none;
}
.slideshow .slider .item .text {
  display: none;
}
.slideshow .slider .item img {
  min-width: 101%;
  min-height: 101%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.slideshow .slick-dots {
  position: fixed;
  z-index: 100;
  width: 40px;
  height: auto;
  bottom: auto;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: auto;
  color: #fff;
  display: block;
}
.slideshow .slick-dots li {
  display: block;
  width: 100%;
  height: auto;
}
.slideshow .slick-dots li button {
  position: relative;
  width: 20px;
  height: 15px;
  text-align: center;
}
.slideshow .slick-dots li button:before {
  content: '';
  background: #fff;
  color: #fff;
  height: 2px;
  width: 20px;
  border-radius: 0;
  position: absolute;
  top: 50%;
  right: 0;
  left: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0.6;
}
.slideshow .slick-dots li.slick-active button:before {
  width: 40px;
  opacity: 1;
}
.slideshow.slideshow-right {
  left: 0;
  z-index: 1;
  width: 50vw;
  pointer-events: none;
}
.slideshow.slideshow-right .slider {
  left: 0;
  position: absolute;
}

.slideshow-text {
  position: absolute;
  margin-top: 21%;
  z-index: 100;
  font-size: 60px;
  width: 100vw;
  text-align: center;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
  pointer-events: none;
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 100%;
}
@media (max-width: 767px) {
  .slideshow-text {
    font-size: 40px;
  }
}

/* updates.html page */

#twitter-widget-0{
  padding-left: 15px !important;
}

.esports {
  margin:0px 0px;
  padding: 0px;
}

.col-3 {
height: 100vh;
padding:40px 0px !important;
}

.col-9  {
height: 100vh;
padding:40px 0px !important;
} 



/* 
  Mike's groupSearch CSS Section
*/

.normal{
  height: 100%;
  background: #110101;
  font-family: 'Roboto', sans-serif;
  color:white;
  letter-spacing: 2px;
  
}

#criteria {
  position: relative;
  padding: 20px;
  margin: 10px;
  height: 110%;
  background-image: url("../images/blue.jpg");
  width: 100%;
  overflow: auto;
  top: -50px;
}

#groups {
  position: relative;
  float: right;
  background-color: darkgray;
  padding: 10px;
  width: 74%;
  margin: 10px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: white;
  outline: none;
  opacity: 0.5;
  -webkit-transition: .2s;
  transition: .2s;
  margin-top: 20px;
  margin-bottom: 20px;

}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background-color: rgb(114, 236, 240);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(114, 236, 240);
  cursor: pointer;
}

.slidecontainer{
  position: relative;
  width: 100%;
}

#begin {
  position: relative;
  float: left;
}

#pro{
  position: relative;
  float: right;
}

#dropdownMenuButton{
  width: 100px;
}

.champDiv {
  float: left;

}

#rank{
  margin: 0 auto;
  align-content: center;
  padding-left: 120px;
}

.tier{
  width: 80px;
}

.form-group {
  width: 100%;


}

#userInfo {
  height:100%;
  background-image: url("../images/poro.jpg");
  font-family: 'Anton', sans-serif;
  font-weight: bolder;

}

.form-control {
  letter-spacing: 2px;
}



label.form-control {
  color: white;
  font-weight: bolder;
  background-color:rgba(12, 11, 11, 0.596);
  opacity: 0.7;
  border-width: 2px;
  border-color: grey;
  font-family: 'Quantico', sans-serif;

}

 .primaryRole {
  margin-top: -15px;
  font-family: 'Quantico', sans-serif;

  /* margin-bottom: 10px; */
  

} 

.secondaryRole {
  margin-top:10px;
  font-family: 'Quantico', sans-serif;

}

.tacticalRole {
  font-family: 'Quantico', sans-serif;

}

.form {
  width: 100%;
}


#skillLevel {
  margin-top:40px;
  font-family: 'Quantico', sans-serif;
  letter-spacing: 3px;
  font-size:21px;

}

#userNameInput {
  padding:20px;
  opacity: 0.5;
  text-align: right;
  font-style: italic;

}

#username {
  padding:20px;
  font-family: 'Quantico', sans-serif;
  letter-spacing: 3px;
  font-size:21px;
  text-align: right;
  display: block;
  
}

#userName {
  padding:20px;
  text-align: right;
  letter-spacing: 2px;
  margin-top: -10px;
  font-weight:bold;

}

#userTitle {
  font-family: 'Quantico', sans-serif;
  font-size:21px;
  letter-spacing: 3px;
  text-align: right;
  margin-top: 30%;
  padding-right: 26px;


}
#submitUser .userBtn {
  align: right;
}
/* .card .col-md-3 {
  height:90%;
}  */
/* .btn-primary {
  padding:20px;
} */

.col-md-3 {
  height: 100vh;
  padding:40px 0px !important;
  }
  overflow:auto;
  
.buttonGroup {
  float: right;
}


/* champions page
css */

.col-md-9 {
  overflow: auto;
}



.card .text-white .bg-dark {
  margin-top: 30px;
  padding: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  opacity:0.5;
}

.card-img-top {
  margin-top: 10px;
  padding: 8px;
  margin-bottom: 10px;
}

.champName {
  margin-top:10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-family: 'Anton', sans-serif;
  font-weight: bold;

}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-gap: 20px;
  margin: 30px 70px 30px 70px;
}
.grid-container > div {
  text-align: center;
  padding:  10px;
  font-size: 30px;
  display: grid;
  justify-content: space-evenly;
}

#userInfo {
  width: 75%;
  margin-top:10px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-family: 'Anton', sans-serif;
  float: left;
  background-color: lightgrey;
}

#userData {
  margin-left: 10px;
}
#teamInfo{
  width: 100%;
  margin: 10px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-family: 'Anton', sans-serif;
  float: left;
  background-color: lightgrey;
}

#teamDisplay{
  width: 100%;
  margin: 10px;
}

.userSpecs {
  
}
